<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>logFileName</key>
            <defaultValue>unknown</defaultValue>
        </discriminator>
        <sift>
            <appender name="FILE-${logFileName}" class="ch.qos.logback.core.FileAppender">
                <file>C:\Users\Public\Documents\smartdata\${logFileName}.log</file>
                <append>true</append>
                <layout class="ch.qos.logback.classic.PatternLayout">
                    <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
                </layout>
            </appender>
        </sift>
    </appender>

    <logger name="file" level="WARN" additivity="false" >
        <appender-ref ref="SIFT" />
    </logger>

    <logger name="console" level="debug" additivity="false" >
        <appender-ref ref="STDOUT" />
    </logger>
</configuration>